@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ThinIta.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Hairline.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-HairlineI.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-LightIta.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-RegIta.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-MedIta.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-BoldIta.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-BlackIta.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ExtBdIta.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ExtBlk.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ExtBlkIta.woff2") format("woff2");
  font-weight: 950;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ExtLt.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/fonts/HelveticaNowDisplay-ExtLtIta.woff2") format("woff2");
  font-weight: 250;
  font-style: italic;
}
@font-face {
  font-family: "BodoniModa";
  src: url("/fonts/BodoniModa-VariableFont_opsz,wght.woff2")
      format("woff2-variations"),
    url("/fonts/BodoniModa-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --platinum: #e2e2e2;
  --raisin-black: #222222;
  --font-a: "HelveticaNowDisplay";
  --font-b: "BodoniModa";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--raisin-black);
  font-family: var(--font-a);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--platinum);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header * {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  font-size: 15px;
}

.logo {
  font-family: var(--font-b);
  font-size: 25px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 4;
}

.main h1 {
  margin: 0 auto;
  width: fit-content;
  font-size: 250px;
  font-weight: 300;
}

.main-left {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 300px;
}

.main-left .box {
  margin-bottom: 10px;
}

.box h4 {
  font-size: 15px;
  font-weight: 600;
}

.box p {
  font-size: 12px;
  line-height: 15px;
}

.bottom ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
#new-collection {
  font-family: var(--font-b);
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

#shop {
  text-decoration: underline;
}

.images {
  position: absolute;
  background-color: var(--raisin-black);
  object-fit: cover;
}

#image-1 {
    z-index: 10;
    top: 44%;
    right: 23%;
    height: 280px;
    width: 180px;
}

#image-2 {
    z-index: 8;
    top: 68%;
    right: 34%;
    height: 160px;
    width: 160px;
}

#image-3 {
    z-index: 6;
    top: 60%;
    right: 44%;
    height: 180px;
    width: 160px;
}
